{% extends "base.html" %}
{% load static %}

{% block title_name %}
    Главная страница
{% endblock %}

{% block content %}
    
    <section class="crud-section">
        <h2>Управление авторами</h2>
        <div class="crud-buttons">
            <a href="{% url 'author_list' %}" class="btn">Список авторов</a>
        </div>
    </section>
    
    <section class="crud-section">
        <h2>Управление книгами</h2>
        <div class="crud-buttons">
            <a href="{% url 'book_list' %}" class="btn">Список книг</a>
        </div>
    </section>
    
    <section class="crud-section">
        <h2>Управление клиентами</h2>
        <div class="crud-buttons">
            <a href="{% url 'customer_list' %}" class="btn">Список клиентов</a>
        </div>
    </section>
    
    <section class="crud-section">
        <h2>Управление жанрами</h2>
        <div class="crud-buttons">
            <a href="{% url 'genre_list' %}" class="btn">Список жанров</a>
        </div>
    </section>
    
    <section class="crud-section">
        <h2>Управление издателями</h2>
        <div class="crud-buttons">
            <a href="{% url 'publisher_list' %}" class="btn">Список издателей</a>
        </div>
    </section>
    
    <section class="products">
       {% for book in books %}
    <div class="product-card">
        {% if book.photo %}
            <img src="{{ book.photo.url }}" alt="{{ book.title }}" width="150">
        {% else %}
            <p>Нет изображения</p>
        {% endif %}
        <h3>{{ book.title }}</h3>
        <p>{{ book.author.first_name }} {{ book.author.last_name }}</p>
        <a href="{% url 'book_detail' pk=book.pk %}" class="btn">Подробнее</a>
        <a href="{% url 'book_delete' pk=book.pk %}" class="btn">Удалить</a>
    </div>
{% endfor %}
    </section>
{% endblock %}